.album {
    padding: 100px 0;
    min-height: 1333px;
    &__title {
        font-size: 44px;
        font-weight: 300;
        text-transform: uppercase;
        color: #222222;
        text-align: center;
        span {
            font-weight: 600;
        }
    }
    &__text {
        margin-top: 56px;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        color: $text-color;
        text-align: center;
    }
    &__flex {
        margin-top: 145px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_elem {
        margin-top: 30px;
    }
}