.clients {
    padding: 100px 0 200px 0;
    min-height: 517px;
    background-color: #000;
    &__title {
        font-size: 44px;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        span {
            font-weight: 600;
        }
    }
    &__brends {
        margin-top: 112px;
        display: flex;
        justify-content: space-between;
    }
    &_elem {
        &:nth-child(1) {
            opacity: 0.7;
        }
    }
}