.header {
    width: 100%;
    background: black;
    &__wrapper {
        display: grid;
        grid-template-columns: 160px 580px;
        column-gap: 439px;
    }
    nav {
        margin-top: 56px;
    }
    &__logo {
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 56px;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
    }
    .menu {
        &__link {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration: none;
            padding-bottom: 12px;
            &:hover {
                transform: translateY(10%);
                border-bottom: 3px solid #fcac45;
            }
        }
    }
    
}
