@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__wrapper {
            grid-template-columns: 160px 513px;
            column-gap: 300px;
        }
    }
    .about {
        padding: 100px 0;
        &__wrapper {
            grid-template-columns: 506px;
            grid-template-rows: repeat(2, 408px);
            // column-gap: 177px;
            justify-content: center;
        }
        &__comp {
            grid-row: unset;
        }
        &__title {
            text-align: center;
        }
        .devider {
            margin: 0 auto;
        }
        &__text {
            text-align: center;
        }
        &__mark {
            padding-left: 53px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__wrapper {
            grid-template-columns: 160px 1fr;
            column-gap: unset;
        }
        &__menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            right: -100%; /* -100% */
            width: 50%;
            height: 100vh;
            padding: 30px 20px;
            transition: 0.7s all;
            background-color: #fcad45a9;
            &_active {
                right: 0;
            }
        }
        .hamburger {
            display: block;
            position: absolute;
            right: 10px;
            top: 70px;
            // transform: translateY(-50%);
            width: 40px;
            height: 12px;
            transition: 0.7s all;
            span {
                display: block;
                height: 4px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 7px;
                transition: 0.7s all;
            }
            &_active {
                transition: 0.7s all;
                right: 42%;
                top: 33px;
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg)
                    }
                    &:nth-child(2) {
                        display: none
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg)
                    }
                }
            }
        }
        .menu {
            &__link {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__logo {
            margin-top: 26px;
        }
        .hamburger {
            right: 20px;
            top: 35px;
            &_active {
                right: 40%;
            }
        }
    }
    .promo {
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .team {
        &__title {
            font-size: 34px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .header {
        &__menu {
            width: 75%;
            padding: 70px 20px;
        }
        .hamburger {
            &_active {
                right: 60%;
            }
        }
    }
    .promo {
        &__descr {
            font-size: 15px;
        }
    }
    .about {
        padding: 0;
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__comp {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__descr {
            padding: 14px 0;
        }
        &__title {
            font-size: 24px;
        }
        .devider {
            width: 283px;
        }
        &__text {
            margin-top: 22px;
            font-size: 15px;
        }
        &__mark {
            padding-left: 8px;
        }
        &__item {
            font-size: 14px;
        }
    }
    .team {
        padding: 50px 0;
        &__title {
            font-size: 24px;
        }
        &__wrapper {
            margin-top: 50px;
            grid-template-columns: repeat(auto-fill,270px);
            justify-content: center;
        }
    }
}